{
    "vcs": "gitlab",
    "linear_organization": "",
    "linear_ticket_prefix": "",
    "daily_file": "daily.txt",
    "hotfix": {
        "prefix": "hotfix",
        "backport_targets": [],
        "backport_mode": "review"
    },
    "azure_tenant": "",
    "applications": {
        "pily": {
            "client_id": "",
            "client_secret": "",
            "scope": ""
        },
        "pq": {
            "client_id": "",
            "client_secret": "",
            "scope": ""
        }
    }
}
