{
    "vcs": "gitlab",
    "linear_organization": "",
    "linear_ticket_prefix": "",
    "daily_file": "daily.txt",
    "hotfix_prefix": "hotfix",
    "hotfix_production_tag": "",
    "hotfix_review_target": "",
    "azure_tenant": "",
    "applications": {
        "pily": {
            "client_id": "",
            "client_secret": "",
            "scope": ""
        },
        "pq": {
            "client_id": "",
            "client_secret": "",
            "scope": ""
        }
    }
}
